# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
client_secret_211113216304-m6u9pnk6v5ti89rqus4cn5fvo3uqu2ml.apps.googleusercontent.com.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# local data/assets
dev*.db
/prisma/tmp/
uploads/*
!uploads/.gitkeep
renders/*
!renders/.gitkeep

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local backup copies
lib/render 2.ts
lib/media-relevance 2.ts
